<div *ngIf="!isShowingForm">
  <h1>{{oneRoute.routeName}}</h1> <!--* needs to be dynamic -->
  <h2>location:</h2>
  <p>{{oneRoute.location}}</p>
  <h2>description:</h2>
  <p>{{oneRoute.description}}</p>
  <h2>duration:</h2>
  <p>{{oneRoute.duration}} hours </p>

  <button class="inverted-button edit-button" *ngIf="!isShowingForm" (click)="showEditRouteForm()"> edit info </button>
  <a routerLink="/myRoutes" (click)="deleteMarkers()"><button> go back to my routes</button></a>

  <div id="add-pins-wrapper">
      <small><b>to draw a route:</b><br> right click to add path points.<br><b>to drop pins and add the deets:</b><br>double click on the place in the map</small>
    <!-- <button class="inverted-button" (click)="saveTheEntireRoute()"> update new paths and pins </button> -->
  </div>
</div>


<div *ngIf="isShowingForm">
  <h1>edit your route info</h1>

  <form (ngSubmit)="saveEditedRoute()">
    <label for="route-name-input"> name </label>
    <input id="route-name-input" type="text" name="editRouteName" [(ngModel)]="oneRoute.routeName">
    <br>
    <label for="route-location-input"> location (city, country) </label>
    <input id="route-location-input" type="text" name="editRouteLocation" [(ngModel)]="oneRoute.location">
    <br>
    <label for="route-description-input"> description </label>
    <textarea id="route-description-input" type="text" name="editwRouteDescription"
       [(ngModel)]="oneRoute.description">
    </textarea>
    <br>
    <label for="route-duration-input"> duration (in hours)</label>
    <input id="route-duration-input" type="number" step=".5" name="ediRouteDuration" [(ngModel)]="oneRoute.duration">
    <br>

    <button class="inverted-button save-edited-button"> save changes </button>
  </form>
    <a routerLink="/myRoutes"><button class="delete-route-button" (click)="deleteOneRoute(oneRoute._id)"> delete route </button></a>
</div>
