<h1> Log in </h1>

<p *ngIf="loginErrorMessage" class="error">
  {{ errorMessage }}
</p>

<form (ngSubmit)="doLogIn()">
  <input id="login-email-input" type="text" name="loginEmail" [(ngModel)]="loginEmail">
  <label for="login-email-input"> Email </label>
<br>
  <input id="login-password-input" type="password" name="loginPassword" [(ngModel)]="loginPassword">
  <label for="login-password-input"> Password </label>
<br>

  <button class="movedButton"> LOG IN </button>
</form>
<small>don't have an account?</small>
<a routerLink="/signup"><button class="inverted-button"> SIGN UP </button></a>
