
<div id="map-and-window-wrapper">
  <div id="content-window">

<!-- LANDING PAGE - SCREEN 1 -->
    <!-- <div id="landing-page">
      <h1>welcome to wanderlist!</h1>
      <small>make and share personalized <br>tours of the places you love</small>
      <p>the dive bar in the little alley,<br>the perfect spot to catch the sunset,<br>that place where you order off menu...</p>
      <h2>share your city,<br> tell your story</h2>
      <br>
      <a routerLink="/signup"><button class="inverted-button"> SIGN UP </button></a>
      <a routerLink="/login"><button> LOG IN </button></a>
    </div> -->

<!-- WELCOME USER - SCREEN 1.5 -->
    <!-- <div id="welcome-user">
      <h1> hi, {{currentUser.firstName}}</h1>
      <br><br>
      <h2>where are we <br>off to today?</h2>
      <br>
      <a routerLink="/myRoutes"><button> Browse and edit your<br> current routes </button></a>
      <br><br>
      <a routerLink="/myRoutes/new"><button  class="inverted-button"> Create a new route with <br>your favorite spots </button></a>
    </div> -->

    <router-outlet>

    </router-outlet>
  </div>

  <div id="navigation-buttons-left">
    <h1>wanderlist</h1>
    <a routerLink="/myRoutes"><button class="inverted-button"> my routes </button></a>
    <a routerLink="/newroute"><button  class="inverted-button"> new route </button></a>
    <button  class="inverted-button" (click)="logMeOut"> LOG OUT </button>
    <a routerLink="/signup"><button class="inverted-button"> SIGN UP </button></a>
    <a routerLink="/login"><button class="inverted-button"> LOG IN </button></a>
  </div>
  <div id="gmap">
  </div>
</div>
