
<div id="map-and-window-wrapper">
  <div id="content-window">
      <router-outlet>
      </router-outlet>
  </div>

  <div id="add-pin-info-modal">
    <h1>add pin details</h1>
    <form (ngSubmit)="saveThePinAndPath()">
      <label for="pin-name-input"> name </label>
      <input id="pin-name-input" type="text" name="newPinName" [(ngModel)]="newPinName">
      <br>
      <label for="pin-deets-input"> deets </label>
      <textarea id="pin-deets-input" type="text" name="newPinDeets" [(ngModel)]="newPinDeets"></textarea>
      <br>
      <label for="pin-duration-input"> duration (in hours)</label>
      <input id="pin-duration-input" type="number" step=".5" name="newPinDuration" [(ngModel)]="newPinDuration">
      <br>
      <button class="inverted-button"> save pin </button>
    </form>

    <button (click)="savePath()"> Save Path </button>
    <button (click)="deletePath()"> Delete Path </button>
  </div>

  <div id="view-pin-info-modal">
    <h1>add pin details</h1>
      <input id="pin-name-input" type="text" name="newPinName" [(ngModel)]="newPinName">
      <textarea id="pin-deets-input" type="text" name="newPinDeets" [(ngModel)]="newPinDeets"></textarea>
      <input id="pin-duration-input" type="number" step=".5" name="newPinDuration" [(ngModel)]="newPinDuration">
    <button (click)="closePinModal()"> close </button>
  </div>

  <div id="navigation-buttons-left">
    <a routerLink="/"><h1>wanderlist</h1></a>
    <button  *ngIf="isLoggedIn" class="inverted-button" (click)="logMeOut()"> LOG OUT </button>
  </div>
  <div id="gmap" #map>
  </div>
</div>
