<div *ngIf="isShowingForm" id="add-new-route-wrapper">
  <h1>add a new route</h1>

  <form (ngSubmit)="saveNewRoute()">
    <input id="route-name-input" type="text" name="newRouteName" [(ngModel)]="newRouteName">
    <label for="route-name-input"> name </label>
    <br>
    <input id="route-location-input" type="text" name="newRouteLocation" [(ngModel)]="newRouteLocation">
    <label for="route-location-input"> location (city, country) </label>
    <br>
    <textarea id="route-description-input" type="text" name="newRouteDescription" [(ngModel)]="newRouteDescription"></textarea>
    <label for="route-description-input"> description </label>
    <br>
    <input id="route-duration-input" type="number" step=".5" name="newRouteDuration" [(ngModel)]="newRouteDuration">
    <label for="route-duration-input"> duration (in hours)</label>
    <br>

    <button class="inverted-button"> next </button>
  </form>
  <a routerLink="/myRoutes"><button>go back to my routes</button></a>
</div>
