h2 {
  margin: 10% 0;
}
button {
  margin: 10% 20%;
  width: 60%;
}

#radio-input {
  display: inline-block;
  width: 10%;
  margin-top: 1em;
}
#radio-label {
  display: inline-block;
  font-size: .7em;
  width: 90%;
  float: right;
  margin-top: 1em;
}
