/*RESET ----------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*COLORS ------------------------------*/
/*#FC565D
#FFB157
#40BDB4*/

/* Site-wide element styling ---------------------*/

body, input, textarea {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
	font-weight: 300;
  font-size: 14px;
	color: #848383;
}

h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 3em;
	letter-spacing: 2.5px;
	color: #FFB157;
	margin-bottom: .5em;
}
h2 {
	font-size: .7em;
	margin-bottom: 6%;
	color: grey;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
}

h3 {

}

p {
	font-size: 1.5em;
	margin: 0 0 1em 0;
}

button, .button {
	background: none;
  border: 1px solid #FC565D;
	border-radius: 100px;
  font: inherit;
	font-size: 0.9em;
  margin: 0.5em;
  padding: .7em 1em;
  color: #FC565D;
  opacity: 0.8;
  transition: 0.25s;
	text-transform: uppercase;
}

button:focus {
	outline:0;
}
button:hover {
	opacity: 1;
}
button a {
	text-decoration:none;
	color: grey;
}
button a:hover, button a:focus{
	color: grey;
}

button:hover,
button:focus {
  box-shadow: 0 0.4em 0.4em -0.3em var(--hover);
  transform: translateY(-0.20em);
}

.inverted-button {
  background-color: #FC565D;
  color: white;
}

input, textarea {
	border-radius: 2px;
	border: none;
	border-bottom: .3px solid #CBCBCB;
	width: 90%;
	margin-top: 4%;
	padding: 2% 3%;
	font-size: 1em;
}

input:focus, textarea:focus {
	outline: none;
	border-bottom: 2px solid #FFB157;
}
.error {
  padding: 15px;
  border: 2px solid crimson;
  border-radius: 3px;
  color: crimson;
}
