/*RESET ----------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Site-wide element styling ---------------------*/

body {
	line-height: 1;
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Megrim', cursive;*/
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
	font-weight: 300;
  font-size: 14px;
	color: #848383;
}

h1 {
	font-family: 'Codystar', cursive;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: 1px;
	color: #EDA034;
	margin: 6% 0;
}
h2 {
	font-family: 'Codystar', cursive;
	/*font-family: 'Meddon', cursive;*/
	font-size: 1.3em;
	font-weight: bold;
	margin: 6% 0;
	color: #EDA034;
	letter-spacing: 1px;

}

button, .button {
  background: none;
  border: 1px solid #FC565D;
	border-radius: 100px;
  font: inherit;
	font-size: 0.9em;
  line-height: 1;
  margin: 0.5em;
  padding: .7em 2em;
  color: #FC565D;
  opacity: 0.8;
  transition: 0.25s;
	text-transform: uppercase;
}

button:focus {
	outline:0;
}
button:hover {
	opacity: 1;
}
button a {
	text-decoration:none;
	color: grey;
}
button a:hover, button a:focus{
	color: grey;
}

button:hover,
button:focus {
  box-shadow: 0 0.4em 0.4em -0.3em var(--hover);
  transform: translateY(-0.20em);
}

input, textarea {
	border-radius: 2px;
	border: .3px solid #D2D2D2;
	background-color: rgba(252, 252, 252, 0.9);
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
	margin: 2% 0;
}

.inverted-button {
  background-color: #FC565D;
	border-radius: 100px;
  padding: 10px 20px;
  color: white;
}
.error {
  padding: 15px;
  border: 2px solid crimson;
  border-radius: 3px;
  color: crimson;
}
