#landing-page, #welcome-user {
  text-align: center;
}

#landing-page small {
  color: #FFB157;
}

#landing-page h1 {
  font-size: 4em;
  line-height: 1;
  margin: 10% 0 5% 3%;
}
#landing-page button, #welcome-user button {
  margin-left: 4%;
  width: 65%;
  line-height: 1.5;
}
#welcome-user button {
  width: 80%;
  margin: 0;
}

#welcome-user {
  padding-top: 30%;
}

.inverted-button {
  margin-top: 20%;
}

.createRoute {
  margin-top: 7%;
}
